@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
a{
    color:gold;
}
body{
    background-image: url("background.png");
    background-size: cover;
    color: white;
}
header{
    text-align: center;
    color:whitesmoke;
    font-family: 'Poppins',sans-serif;  
}
h2{
    margin-top: 20px;
    text-align: center;
}
.signinform-box{
    display: flex;
    justify-content: center;
}
#signinForm{
    padding: 30px;
    border-radius:0.5rem;
    box-shadow: -1px 5px 10px goldenrod;
}
.signin-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}
.user-input{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    height:40px;
    width: 350px;
    border-radius: 0.9rem;
    color: white;
    font-weight: bold;
    font-size: medium;
    outline: none;
    background:none;
    border: none;
    border-bottom: 2px solid gold;
    margin-bottom: 20px;
}
.user-input:focus{
    /* border: none; */
    outline: none;
    border-bottom: goldenrod;
}
.register-btn{
    width: 380px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    transition: .5s;
    margin-top: 20px;

}
.register-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.art-select{
    background-color: black;
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:30px;
}
.eye-icon{
    right:0;
    margin-top: 30px;
    margin-left: 10px;
}

#isartisit{
    margin-top: 20px;
    margin-bottom: 20px;
}
#contribute{
    margin-top: 20px;
    margin-bottom: 20px;
}